<form action="/admin/delete" method="post">
    <div class="container">
      <div class="row">
              <h5 class="center-align"><b>Delete product</b></h5>
              <div class="row">
                <div class="input-field col s6">
                    <input
                      id="id"
                      name="id"
                      type="text"
                      class="validate"
                      required=""
                      aria-required="true"
                    />
                    <label for="id">ID</label>
                  </div>
            <div class="card-action center-align">
              <button
                type="submit"
                class="btn waves-effect waves-light hoverable"
              >
                Delete
              </button>
            </div>
          </div>
</form>