</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Market</h5>
        <p class="grey-text text-lighten-4">
          Created with love by David Arutiunyan
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://github.com/MonRoi-dev"
              >Github</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://vk.com/lil_roi"
              >VK</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://t.me/DavidA122702"
              >Telegram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2024 Все права не защищены.<br>Любое
      копирование материалов разрешено
      только с указанием прямой ссылки на источник информации.<br>Почта: monroi.dev@gmail.com</div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>